@{
    ViewData["Title"] = "Home Page";
    Dictionary<int, string> cities = ViewData["cities"] as Dictionary<int, string>;

}

<div class="text-center">
    @if(cities != null)
    {
    <form action="/home/city">
        <select name="id">
            @foreach (var city in cities)
            {
                <option value="@city.Key">@city.Value</option>
            }
        </select>
        <input type="submit" />
    </form>
    }
</div>

@section Scripts{ 
    <script>
        window.navigator.geolocation.getCurrentPosition(function (position) {
            fetch("/home/getLocation?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude).then(function (response) {
                response.text().then(function (text) {
                    window.location = "/home/city/" + text;
                });
            });
        })
    </script>
}
